################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EFCore3.0/EFCoreBug01/.vs/EFCoreBug01
