################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EFCore3.0/EFCoreBug01/.vs/EFCoreBug01
/EFCore3.0/EFCoreBug01/EFCoreBug01/bin/Debug/netcoreapp3.0
/EFCore3.0/EFCoreBug01/EFCoreBug01/obj
